:root {
    --slider-thumb-color: white;
    --slider-track-color: gray;
    --alert-stripes-color: #eeeed7;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;

  margin: 0;

  color: #404047;
  background-color: darkgray;
}

div.page-wrapper {
  max-width: 960px;

  margin: 0 auto;
  padding: 1rem 2rem 3rem 2rem;

  background-color: #fff;

  -webkit-box-shadow: 0 0 15px 5px #999999;
  box-shadow: 0 0 15px 5px #999999;
}

div.text-wrapper {
    padding: 0 3rem 0 3rem;
}

*.contact {
    color: darkgrey;
    text-align: right;
    margin-top: 5rem;
    padding-right: 3vw;
}

h1 {
    color: lightblue;
    font-size: 5rem;
    line-height: 5rem;
    margin: 4rem 2.8rem;
    text-shadow: 0 -8px 9px white, 0 -10px 50px #ccc
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.byline {
    text-align: right;
    padding-top: 2rem;
}
.byline:hover {
    opacity: 1;
    font-style: normal;
}
.space-above {
    padding-top: 1rem;
}
.text-right {
    text-align: right;
}
small {
    color: darkgray;
}
h3 {
    color: #6cbbd4;
    font-size: 1.7rem;
    padding-right: 4vw;
}
b {
    color: darkgray;
}
dt {
    font-weight: bold;
}
p.help {
    color: darkgray;
    padding-right: 4vw;
}
li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
blockquote {
    color: #808080;
}
img {
    max-width: 100%;
}
figure {
    width: 75%;
    margin: 1rem auto;
}
figcaption {
    text-align: center;
}
div.caption {
    text-align: right;
}

div.spectrum {
}
div.spectrum-row {
    display: flex;
    align-items: stretch;
}
div.spectrum-cell {
    display: flex;
    align-items: center;
    padding: 0.5rem 2%;
    margin: 2px;
}

div.spectrum-row:nth-child(odd) div.spectrum-cell:first-child {
    background-color: #EAEAEA;
    width: 25%;
}
div.spectrum-row:nth-child(odd) div.spectrum-cell:first-child + div.spectrum-cell {
    background-color: #FFFFFF;
    width: 75%;
}
div.spectrum-row:nth-child(even) div.spectrum-cell:first-child {
    background-color: #D8D8D8;
    width: 25%;
}
div.spectrum-row:nth-child(even) div.spectrum-cell:first-child + div.spectrum-cell {
    background-color: #EAEAEA;
    width: 75%;
}

div.spectrum-row:first-child div.spectrum-cell:first-child {
    background-color: white;
    width: 25%;
}

.spectrum-divider {
    background-image: linear-gradient(135deg, #f5f5f5 25%, #ffffff 25%, #ffffff
        50%, #f5f5f5 50%, #f5f5f5 75%, #ffffff 75%, #ffffff 100%);
    background-size: 56.57px 56.57px;
    background-attachment: fixed;
}

/**
 * -------
 * Buttons
 * -------
 */

.button-list {
    margin: 4rem 1.8rem;
}

.button-wrap {
    display: flex;
    flex-wrap: wrap;
}

a {
    color: #6cbbd4;
    font-weight: bold;
    text-decoration: none;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

button svg,
a.button svg {
    fill: white;
    width: 1.4rem;
    height: 1.4rem;
}

button,
a.button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;

  color: white;
  background-color: lightblue;
  border: white 2px solid;

  border-radius: .7rem;
  padding: 0.5rem 1.0rem;
  margin: 0.5rem 1.0rem;

  cursor: pointer;

  box-shadow: 3px 3px 7px #e5e5e5;
}

/* laptops only; fix :hover on touch devices */
@media (hover: hover) and (pointer: fine) {
  button:hover,
  button:hover svg,
  a.button:hover,
  a.button:hover svg {
    color: black;
    fill: black;
  }
}
button:active,
a.button:active {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}
a.button-secondary,
button.button-secondary {
  color: white;
  background-color: lightgrey;
}
a.button-secondary:hover,
button.button-secondary:hover {
  color: black;
}
a.button-secondary:active,
button.button-secondary:active {
  color: white;
  background-color: black;
}
button.button-decorative {
  color: lightgray;
  background-color: white;
  cursor: text;
  box-shadow: none;
}
button.button-decorative:disabled {
  color: lightgray;
  box-shadow: none;
}

/**
 * -------
 * Sliders
 * -------
 */

div.slider-container {
  width: 100%; /* Width of the outside container */
}

input[type=text] {
  color: lightblue;
  padding: .4rem;
  border: .1rem solid lightblue;
}
input[type=range] {
  -webkit-appearance: none;
  background-color: transparent;
  margin: 15px 0;
  width: 100%;
  cursor: pointer;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1rem;
  background-color: var(--slider-track-color);
  border-radius: 2rem;
}
input[type=range]::-webkit-slider-thumb {
  border: .3rem solid gray;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: var(--slider-thumb-color);
  -webkit-appearance: none;
  margin-top: -.5rem;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: gray;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1rem;
  background-color: var(--slider-track-color);
  border-radius: 1rem;
}
input[type=range]::-moz-range-thumb {
  border: .3rem solid gray;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  background-color: white;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1rem;
  background-color: transparent;
  border-color: transparent;
  /* border-width: 15px 0; */
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background-color: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background-color: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  background-color: var(--slider-thumb-color);
}
input[type=range]:focus::-ms-fill-lower {
  background-color: gray;
}
input[type=range]:focus::-ms-fill-upper {
  background-color: gray;
}
input:disabled {
    cursor: not-allowed;
}


@media screen and (max-width: 600px) {
    body {
        font-size: 1.0rem;
    }
    button {
        font-size: 1.4rem;
    }

    div.spectrum-row:nth-child(odd) div.spectrum-cell:first-child {
        background-color: #EAEAEA;
        width: 33%;
    }
    div.spectrum-row:nth-child(odd) div.spectrum-cell:first-child + div.spectrum-cell {
        background-color: #FFFFFF;
        width: 66%;
    }
    div.spectrum-row:nth-child(even) div.spectrum-cell:first-child {
        background-color: #DCDCDC;
        width: 33%;
    }
    div.spectrum-row:nth-child(even) div.spectrum-cell:first-child + div.spectrum-cell {
        background-color: #EAEAEA;
        width: 66%;
    }
    input[type=text] {
        font-size: 1.2rem;
    }

    input[type=range]::-webkit-slider-thumb {
      border: .3rem solid gray;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 1.5rem;
      background-color: var(--slider-thumb-color);
      -webkit-appearance: none;
      margin-top: -.25rem;
    }
    input[type=range]::-moz-range-thumb {
      border: .3rem solid gray;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 1.5rem;
      background-color: white;
    }
    input[type=range]::-ms-thumb {
      border: 1px solid #000000;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 1.5rem;
      background-color: var(--slider-thumb-color);
    }
}
